#player_info {
	overflow: auto;
}
#controls {
	float: left;
}
#controls > button {
	float: left;
}
#login_msg,#logout_msg {
	float: right;
}

.ui-tooltip {
	background-color: #FFFF55;
	color: black;
	border: 3px solid black;
	border-radius: 8px;
}

#piece-window {
}
#piece-canvas-container {
	position: absolute;
	width: 420px;
	height: 300px;
	border: 1px dashed red;
}
#piece-canvas-controls {
	position: absolute;
	top: 320px;
}

